:root{
    --main-bg-color:brown;
}
.max-width-1{
    max-width: 80vw;
}
.m-auto{
    margin: auto;
}
.input{
    padding: 3px 5px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
}
.btn{
    padding: 4px;
    /* margin-left: -4px; */
    cursor: pointer;
}
.list{
    list-style: none;
}